html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  min-width: 1200px;
}
.hide {
  display: none;
}
.wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: url(/assets/images/bg.jpg) center center no-repeat;
  background-size: cover;
}
.video-bg {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video-bg video {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -960px;
}

/* 活动规则 */
.rules-click {
  width: 34px;
  height: 107px;
  position: absolute;
  left: 0;
  top: 195px;
  cursor: pointer;
}
.wrap-rules {
  width: 603px;
  height: 396px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: #236468;
  border: solid 3px #274445;
}
.wrap-rules p:nth-child(1) {
  position: absolute;
  top: 30px;
  left: 28px;
  color: white;
  line-height: 50px;
  font-size: 24px;
}
.wrap-rules p:nth-child(2) {
  position: absolute;
  top: 90px;
  left: 28px;
  color: white;
  line-height: 40px;
  font-size: 14px;
}
.rules-close {
  width: 61px;
  height: 61px;
  position: absolute;
  left: 603px;
  top: -60px;
  transform: scale(1);
  transition: 0.5s;
  cursor: pointer;
}
.rules-close:hover {
  transform: scale(1.2);
}

/* 左边下载栏 */
.download-wrap{
    width: 174px;
    height: 368px;
    position: absolute;
    left: 0;
    top: 324px;
    
}

/* 下载top样式？ */
.down-az{
    width: 138px;
	height: 42px;
    position: absolute;
    left: 9px;
    top: 60px;
}

.down-ios{
    width: 138px;
	height: 42px;
    position: absolute;
    left: 9px;
    top: 127px;
}
.down-open{
    width: 38px;
	height: 107px;
    position: absolute;
    left: 174px;
    top: 67px;
    opacity: 0;
    cursor: pointer;
}

/* 顶部分享栏 */
.share-click{
  width: 54px;
	height: 51px;
  position: absolute;
  top: 75px;
  right: 263px;
  cursor: pointer;
}

.btn-web{
  width: 117px;
	height: 27px;
  position: absolute;
  top: 83px;
  right: 95px;
}

.share-wrap{
  width: 98px;
	height: 318px;
  position: absolute;
  top: 126px;
  right: 241px;
}

.community{
  position: absolute;
  top: 40px;
  left: 4px;
  cursor: pointer;
}
.wechat{
  position: absolute;
  top: 95px;
  left: 6px;
  cursor: pointer;
}
.TapTap{
  position: absolute;
  top: 150px;
  left: 6px;
  cursor: pointer;
}
.wb{
  position: absolute;
  top: 205px;
  left: 6px;
  cursor: pointer;
}
.dy{
  position: absolute;
  top: 260px;
  left: 6px;
  cursor: pointer;
}
.line1{
  position: absolute;
  top: 85px;
  left: 30px;
}
.line2{
  position: absolute;
  top: 140px;
  left: 30px;
}
.line3{
  position: absolute;
  top: 192px;
  left: 30px;
}
.line4{
  position: absolute;
  top: 250px;
  left: 30px;
}
.community-code{
  position: absolute;
  top: 11px;
  display: none;
}
.wechat-code{
  position: absolute;
  top: 56px;
  display: none;
}
.taptap-code{
  position: absolute;
  top: 110px;
  display: none;
}
.wb-code{
  position: absolute;
  top: 165px;
  display: none;
}
.dy-code{
  position: absolute;
  top: 220px;
  display: none;
}
