html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  min-width: 1200px;
}
.hide {
  display: none;
}
.wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: url(/assets/images/bg.jpg) center center no-repeat;
  background-size: cover;
}
.video-bg {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video-bg video {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -960px;
}

/* 活动规则 */
.rules-click {
  width: 34px;
  height: 107px;
  position: absolute;
  left: 0;
  top: 195px;
  cursor: pointer;
}
.wrap-rules{
    width: 603px;
	height: 396px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    background-color: #236468;
    border: solid 3px #274445;

    
}
.wrap-rules p:nth-child(1){
    position: absolute;
    top: 30px;
    left: 28px;
    color: white;
    line-height: 50px;
    font-size: 24px;
}
.wrap-rules p:nth-child(2){
    position: absolute;
    top: 90px;
    left: 28px;
    color: white;
    line-height: 40px;
    font-size: 14px;
}
.rules-close{
    width: 61px;
	height: 61px;
    position: absolute;
    left: 603px;
    top: -60px;
    transform: scale(1);
    transition: 0.5s;
    cursor: pointer;
}
.rules-close:hover{
    transform: scale(1.2);
}