html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  min-width: 1200px;
}
.hide {
  display: none;
}
.wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: url(/assets/images/bg.jpg) center center no-repeat;
  background-size: cover;
}
.video-bg {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video-bg video {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -960px;
}

/* 活动规则 */
.rules-click {
  width: 34px;
  height: 107px;
  position: absolute;
  left: 0;
  top: 195px;
  cursor: pointer;
}
.wrap-rules {
  width: 603px;
  height: 396px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: #236468;
  border: solid 3px #274445;
}
.wrap-rules p:nth-child(1) {
  position: absolute;
  top: 30px;
  left: 28px;
  color: white;
  line-height: 50px;
  font-size: 24px;
}
.wrap-rules p:nth-child(2) {
  position: absolute;
  top: 90px;
  left: 28px;
  color: white;
  line-height: 40px;
  font-size: 14px;
}
.rules-close {
  width: 61px;
  height: 61px;
  position: absolute;
  left: 603px;
  top: -60px;
  transform: scale(1);
  transition: 0.5s;
  cursor: pointer;
}
.rules-close:hover {
  transform: scale(1.2);
}

/* 左边下载栏 */
.download-wrap {
  width: 174px;
  height: 368px;
  position: absolute;
  left: 0;
  top: 324px;
}

/* 下载top样式？ */
.down-az {
  width: 138px;
  height: 42px;
  position: absolute;
  left: 9px;
  top: 60px;
}

.down-ios {
  width: 138px;
  height: 42px;
  position: absolute;
  left: 9px;
  top: 127px;
}
.down-open {
  width: 38px;
  height: 107px;
  position: absolute;
  left: 174px;
  top: 67px;
  opacity: 0;
  cursor: pointer;
}

/* 顶部分享栏 */
.share-click {
  width: 54px;
  height: 51px;
  position: absolute;
  top: 75px;
  right: 263px;
  cursor: pointer;
}

.btn-web {
  width: 117px;
  height: 27px;
  position: absolute;
  top: 83px;
  right: 95px;
}

.share-wrap {
  width: 98px;
  height: 318px;
  position: absolute;
  top: 126px;
  right: 241px;
}

.community {
  position: absolute;
  top: 40px;
  left: 4px;
  cursor: pointer;
}
.wechat {
  position: absolute;
  top: 95px;
  left: 6px;
  cursor: pointer;
}
.TapTap {
  position: absolute;
  top: 150px;
  left: 6px;
  cursor: pointer;
}
.wb {
  position: absolute;
  top: 205px;
  left: 6px;
  cursor: pointer;
}
.dy {
  position: absolute;
  top: 260px;
  left: 6px;
  cursor: pointer;
}
.line1 {
  position: absolute;
  top: 85px;
  left: 30px;
}
.line2 {
  position: absolute;
  top: 140px;
  left: 30px;
}
.line3 {
  position: absolute;
  top: 192px;
  left: 30px;
}
.line4 {
  position: absolute;
  top: 250px;
  left: 30px;
}
.community-code {
  position: absolute;
  top: 11px;
  display: none;
}
.wechat-code {
  position: absolute;
  top: 56px;
  display: none;
}
.taptap-code {
  position: absolute;
  top: 110px;
  display: none;
}
.wb-code {
  position: absolute;
  top: 165px;
  display: none;
}
.dy-code {
  position: absolute;
  top: 220px;
  display: none;
}

/* 适龄提示弹窗 */
.age-tips {
  width: 75px;
  height: 96px;
  position: absolute;
  left: 22px;
  top: 818px;
  cursor: pointer;
}
.wrap-age-tips {
  width: 603px;
  height: 396px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: #236468;
  border: solid 3px #274445;
}
.wrap-age-tips p:nth-child(1) {
  position: absolute;
  top: 30px;
  left: 28px;
  color: white;
  line-height: 50px;
  font-size: 24px;
}
.wrap-age-tips p:nth-child(2) {
  position: absolute;
  top: 90px;
  left: 28px;
  color: white;
  line-height: 28px;
  font-size: 14px;
}
.age-tips-close {
  width: 61px;
  height: 61px;
  position: absolute;
  left: 603px;
  top: -60px;
  transform: scale(1);
  transition: 0.5s;
  cursor: pointer;
}
.age-tips-close:hover {
  transform: scale(1.2);
}

/* 底部版权信息 */
.copyright-click {
  width: 142px;
  height: 18px;
  position: absolute;
  right: 40px;
  top: 900px;
  z-index: 99;
  cursor: pointer;
}
.footer-copyrigh-wrap {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 15px;
}
.footer-wrap {
  position: absolute;
  bottom: -138px;
  left: 0;
  width: 100%;
  height: 138px;
  background-color: #1d393a;
  z-index: 10;
}
.footer-wrap .sy-info {
  width: 1000px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 13px;
  color: #ffffff;
}
.footer-wrap .sy-info img {
  width: 180px;
  float: left;
  margin: 35px 60px;
}
.footer-wrap p {
  padding: 2px 0;
  color: #ffffff;
  text-shadow: 2px 2px 2px #403a34;
}
.footer-wrap p:nth-child(6) {
  margin-left: 300px;
}
.footer-wrap p:nth-child(5) {
  margin-left: 300px;
}
.footer-wrap div p a {
  font-size: 13px;
  color: #888;
  color: #ffffff;
  text-shadow: 2px 2px 2px #403a34;
}
.footer-wrap div p:nth-of-type(2) a {
  font-size: 13px;
  color: #ffffff;
}

/* 预约功能 */
.order-btn {
  width: 254px;
  height: 73px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -127px;
  margin-top: 190px;
  cursor: pointer;
  transform: scale(1);
  transition: 0.5s;
}
.order-btn:hover {
  transform: scale(1.1);
}
.wrap-order {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login-close {
  position: absolute;
  top: -11px;
  right: -25px;
  cursor: pointer;
  transform: scale(1);
  transition: 0.5s;
}
.login-close:hover {
  transform: scale(1.2);
}
.iphone {
  width: 297px;
  height: 43px;
  position: absolute;
  left: 82px;
  top: 190px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #5aa3a6;
  border: solid 1px #a2f8fb;
  color: white;
}
.verification-code {
  width: 165px;
  height: 42px;
  position: absolute;
  left: 82px;
  top: 278px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #5aa3a6;
  border: solid 1px #a2f8fb;
  color: white;
}
.get-code {
  width: 123px;
  height: 42px;
  position: absolute;
  left: 255px;
  top: 278px;
  background-color: #2a6469;
  border: solid 1px #6089a3;
  color: white;
}
/* .iphone::-webkit-input-placeholder,
.iphone::-moz-input-placeholder,
.iphone::-ms-input-placeholder {
  color: red;
} */

.login-btn{
  width: 202px;
	height: 74px;
  position: absolute;
  left: 50%;
  top: 340px;
  transform: translate(-50%,0);
  cursor: pointer;
}

