html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}
body {
  min-width: 1200px;
  overflow-x: auto;
}
.hide {
  display: none;
}
.wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: url(/assets/images/bg.jpg) center center no-repeat;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}
.video-bg {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video-bg video {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -960px;
}

/* 活动规则 */
.rules-click {
  width: 34px;
  height: 107px;
  position: absolute;
  left: 0;
  top: 195px;
  cursor: pointer;
  -webkit-animation: fadeLeft 1s;
  -moz-animation: fadeLeft 1s;
  -o-animation: fadeLeft 1s;
  -ms-animation: fadeLeft 1s;
  animation: fadeLeft 1s;
}

.wrap-rules {
  width: 603px;
  height: 396px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #236468;
  border: solid 3px #274445;
  z-index: 999;
}
.wrap-rules p:nth-child(1) {
  position: absolute;
  top: 30px;
  left: 28px;
  color: white;
  line-height: 50px;
  font-size: 24px;
}
.wrap-rules p:nth-child(2) {
  position: absolute;
  top: 90px;
  left: 28px;
  color: white;
  line-height: 40px;
  font-size: 14px;
}
.rules-close {
  width: 61px;
  height: 61px;
  position: absolute;
  left: 603px;
  top: -60px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.rules-close:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* 左边下载栏 */
.download-wrap {
  width: 174px;
  height: 368px;
  position: absolute;
  left: 0;
  top: 324px;
  -webkit-animation: fadeLeft 1s;
  -moz-animation: fadeLeft 1s;
  -o-animation: fadeLeft 1s;
  -ms-animation: fadeLeft 1s;
  animation: fadeLeft 1s;
}

.down-az {
  width: 138px;
  height: 42px;
  position: absolute;
  left: 9px;
  top: 60px;
}

.down-ios {
  width: 138px;
  height: 42px;
  position: absolute;
  left: 9px;
  top: 127px;
}
.down-open {
  width: 38px;
  height: 107px;
  position: absolute;
  left: 174px;
  top: 67px;
  opacity: 0;
  cursor: pointer;
}
.side-line{
  width: 134px;
  height: 8px;
  position: absolute;
  top: 196px;
  left: 9px;
  -webkit-animation: scan linear 6s infinite;
  -moz-animation: scan linear 6s infinite;
  -o-animation: scan linear 6s infinite;
  -ms-animation: scan linear 6s infinite;
  animation: scan linear 6s infinite;

}
@keyframes scan {
  0% {
    top: 196px;
  }
  50% {
    top: 330px;
  }
  100% {
    top: 196px;
  }
}

/* 顶部分享栏 */
.share-click {
  width: 55px;
  height: 51px;
  position: absolute;
  top: 75px;
  right: 263px;
  cursor: pointer;

  -webkit-animation: fadeTop 1s;
  -moz-animation: fadeTop 1s;
  -o-animation: fadeTop 1s;
  -ms-animation: fadeTop 1s;
  animation: fadeTop 1s;
}

.btn-web {
  width: 117px;
  height: 34px;
  position: absolute;
  top: 83px;
  right: 95px;
  -webkit-animation: fadeTop 1s;
  -moz-animation: fadeTop 1s;
  -o-animation: fadeTop 1s;
  -ms-animation: fadeTop 1s;
  animation: fadeTop 1s;
}

.share-wrap {
  width: 98px;
  height: 318px;
  position: absolute;
  top: 126px;
  right: 241px;
}
.community-wrap {
  width: 88px;
  height: 60px;
  position: absolute;
  top: 20px;
  left: 5px;
}
.community {
  width: 85px;
  height: 36px;
  position: absolute;
  top: 20px;
  left: 0px;
  cursor: pointer;
}

.wechat-wrap {
  width: 88px;
  height: 45px;
  position: absolute;
  top: 92px;
  left: 10px;
}
.wechat {
  width: 85px;
  height: 36px;
  position: absolute;
  top: 5px;
  left: -2px;
  cursor: pointer;
}
.TapTap-wrap {
  width: 88px;
  height: 45px;
  position: absolute;
  top: 145px;
  left: 10px;
}
.TapTap {
  width: 85px;
  height: 36px;
  position: absolute;
  top: 8px;
  left: -3px;
  cursor: pointer;
}
.wb-wrap {
  width: 88px;
  height: 45px;
  position: absolute;
  top: 200px;
  left: 10px;
}
.wb {
  width: 85px;
  height: 36px;
  position: absolute;
  top: 8px;
  left: -2px;
  cursor: pointer;
}
.dy-wrap {
  width: 88px;
  height: 45px;
  position: absolute;
  top: 260px;
  left: 10px;
  /* background-color: yellow; */
}
.dy {
  width: 85px;
  height: 36px;
  position: absolute;
  top: 0px;
  left: -3px;
  cursor: pointer;
}
.line1 {
  position: absolute;
  top: 85px;
  left: 30px;
}
.line2 {
  position: absolute;
  top: 140px;
  left: 30px;
}
.line3 {
  position: absolute;
  top: 192px;
  left: 30px;
}
.line4 {
  position: absolute;
  top: 250px;
  left: 30px;
}
.community-code {
  width: 106px;
  height: 129px;
  position: absolute;
  top: 11px;
  left: 96px;
  display: none;
}
.wechat-code {
  width: 106px;
  height: 129px;
  position: absolute;
  left: 96px;
  top: 56px;
  display: none;
}
.taptap-code {
  width: 106px;
  height: 129px;
  position: absolute;
  left: 96px;
  top: 110px;
  display: none;
}
.wb-code {
  width: 106px;
  height: 129px;
  position: absolute;
  left: 96px;
  top: 165px;
  display: none;
}
.dy-code {
  width: 106px;
  height: 129px;
  position: absolute;
  left: 96px;
  top: 220px;
  display: none;
}

/* 适龄提示弹窗 */
.age-tips {
  width: 75px;
  height: 96px;
  position: absolute;
  left: 22px;
  top: 818px;
  cursor: pointer;

  -webkit-animation: fadeBottom 1s;
  -moz-animation: fadeBottom 1s;
  -o-animation: fadeBottom 1s;
  -ms-animation: fadeBottom 1s;
  animation: fadeBottom 1s;
}
.wrap-age-tips {
  width: 603px;
  height: 396px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #236468;
  border: solid 3px #274445;
  z-index: 999;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.wrap-age-tips p:nth-child(1) {
  position: absolute;
  top: 25px;
  left: 28px;
  color: white;
  line-height: 40px;
  font-size: 24px;
}
.wrap-age-tips p:nth-child(2) {
  position: absolute;
  top: 80px;
  left: 28px;
  color: white;
  line-height: 20px;
  padding-right: 8px;
  font-size: 14px;
}

.age-tips-close {
  width: 61px;
  height: 61px;
  position: absolute;
  left: 603px;
  top: -60px;
  cursor: pointer;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);

  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.age-tips-close:hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);

  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* 底部版权信息 */
.copyright-click {
  width: 142px;
  height: 18px;
  position: absolute;
  right: 40px;
  top: 900px;
  z-index: 99;
  cursor: pointer;

  -webkit-animation: fadeBottom 1s;
  -moz-animation: fadeBottom 1s;
  -o-animation: fadeBottom 1s;
  -ms-animation: fadeBottom 1s;
  animation: fadeBottom 1s;
}
.footer-copyrigh-wrap {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 15px;
}
.footer-wrap {
  position: absolute;
  bottom: -138px;
  left: 0;
  width: 100%;
  height: 138px;
  background-color: #1d393a;
  z-index: 10;
}
.footer-wrap .sy-info {
  width: 1000px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 13px;
  color: #ffffff;
}
.footer-wrap .sy-info img {
  width: 180px;
  float: left;
  margin: 35px 60px;
}
.footer-wrap p {
  padding: 2px 0;
  color: #ffffff;
  text-shadow: 2px 2px 2px #403a34;
}
.footer-wrap p:nth-child(6) {
  margin-left: 300px;
}
.footer-wrap p:nth-child(5) {
  margin-left: 300px;
}
.footer-wrap div p a {
  font-size: 13px;
  color: #888;
  color: #ffffff;
  text-shadow: 2px 2px 2px #403a34;
}
.footer-wrap div p:nth-of-type(2) a {
  font-size: 13px;
  color: #ffffff;
}

/* 预约功能 */
.order-btn {
  width: 254px;
  height: 73px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -127px;
  margin-top: 122px;
  cursor: pointer;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);

  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;

  -webkit-animation: fade 1s;
  -moz-animation: fade 1s;
  -o-animation: fade 1s;
  -ms-animation: fade 1s;
  animation: fade 1s;
}
.order-btn:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.wrap-order {
  width: 470px;
  height: 447px;
  position: absolute;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.login-close {
  position: absolute;
  top: -11px;
  right: -25px;
  cursor: pointer;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);

  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.login-close:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.iphone {
  width: 297px;
  height: 43px;
  position: absolute;
  left: 82px;
  top: 180px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #5aa3a6;
  border: solid 1px #a2f8fb;
  color: white;
  text-indent: 13px;
}
.verification-code {
  width: 165px;
  height: 42px;
  position: absolute;
  left: 82px;
  top: 248px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #5aa3a6;
  border: solid 1px #a2f8fb;
  color: white;
  text-indent: 13px;
}
.get-code {
  width: 123px;
  height: 42px;
  position: absolute;
  left: 255px;
  top: 248px;
  background-color: #2a6469;
  border: solid 1px #6089a3;
  color: white;
}

input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #eff9f7;
}
input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #eff9f7;
}
input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #eff9f7;
}
input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #eff9f7;
}
.login-btn {
  width: 203px;
  height: 74px;
  position: absolute;
  left: 50%;
  top: 330px;
  transform: translate(-50%, 0);
  cursor: pointer;
}

/* 预约里程碑 */
.wrap-achievement {
  width: 1023px;
  height: 263px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: 185px;

  -webkit-animation: fade 1s;
  -moz-animation: fade 1s;
  -o-animation: fade 1s;
  -ms-animation: fade 1s;
  animation: fade 1s;

  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.achievement-people {
  width: 601px;
  height: 23px;
  position: absolute;
  top: 207px;
  left: 230px;
}
.unfinished-1w {
  width: 185px;
  height: 164px;
  position: absolute;
  left: 199px;
  top: 50px;
}
.unfinished-3w {
  width: 185px;
  height: 164px;
  position: absolute;
  left: 401px;
  top: 50px;
}
.unfinished-6w {
  width: 185px;
  height: 164px;
  position: absolute;
  left: 603px;
  top: 50px;
}
.unfinished-10w {
  width: 185px;
  height: 164px;
  position: absolute;
  left: 805px;
  top: 50px;
}
.unfinished-1w,
.unfinished-3w,
.unfinished-6w,
.unfinished-10w {
  cursor: pointer;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);

  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.unfinished-1w:hover,
.unfinished-3w:hover,
.unfinished-6w:hover,
.unfinished-10w:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.order-number {
  width: 116px;
  height: 21px;
  text-align: center;
  position: absolute;
  left: 339px;
  top: 201px;
  color: #ffff84;
  font-size: 19px;
}
.reward-1w {
  width: 134px;
  height: 114px;
  position: absolute;
  left: 221px;
  top: -45px;
}
.reward-3w {
  width: 134px;
  height: 114px;
  position: absolute;
  left: 421px;
  top: -45px;
}
.reward-6w {
  width: 134px;
  height: 114px;
  position: absolute;
  left: 621px;
  top: -45px;
}
.reward-10w {
  width: 134px;
  height: 114px;
  position: absolute;
  left: 821px;
  top: -45px;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeLeft {
  0% {
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);

    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);

    opacity: 1;
  }
}
@keyframes fadeTop {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);

    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);

    opacity: 1;
  }
}
@keyframes fadeBottom {
  0% {
    -webkit-transform: translate(0, 100%);
    -moz-transform: translate(0, 100%);
    -o-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    transform: translate(0, 100%);

    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);

    opacity: 1;
  }
}
